@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Red+Hat+Display:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Red Hat Display', sans-serif; /* Default font for most elements */
}


@keyframes wave {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 200%;
  }
}

